name: Test Workflow
on: push
jobs:
    test:
        runs-on: ubuntu_latest
        steps: 
          - name: Get code
            uses: actions/checkout@v3
          - name: Install NodeJS
            uses: actions/setup-nodejs@v3
            with:
              node-version: 18
          - name: Install dependencies
            run: npm ci
          - name: Run testing
            run: npm test